body {
    background: rgb(217, 217, 217);
  }

h1 {
    font-size: 2rem;
    color: teal  }
/* Giving our navbar some padding and a background color */
.navbar {
    background: white;
  }
  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
  .navbar li {
    display: inline-block;
    position: relative;
    padding: 25px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
  }
#title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: 1000;
}
#plots,
#comparisons,
#data {
    position: static;
    float: right;
    align-items: right;
    top: 1rem;
    right: 1rem;
    text-align: right;
    font-size: 1rem;
    
}
  
  /* Getting rid of the default link styles here */
  .navbar li a {
    color: #000;
    text-decoration: none;
  }

  .box {
    position: relative;
    margin-top: 2rem
    align-items: center;
    min-height: 50px;
    padding: 5px;
    margin: 50px;
    font-weight: 800;
    color: #fff;
  }
  
  .skyblue {
    background: deepskyblue;
  }
  
  .purple {
    background: rgb(250, 247, 247);
 
  }
  
  .red {
    background: indianred;
  }
  